<div class="container">

    <h2>Cadastre-se</h2>
    <h3>Para se cadastrar escolha o perfil!</h3>


    <div class="row">
        <div class="col-lg-4">
                <%= link_to "Estudante", new_student_registration_path, :class => '' %>   
            </div>
            <div class="col-lg-4">
                <%= link_to "Coordenador",new_coordinator_registration_path, :class => ''  %>   
            </div>     
    </div>         
</div>
